# Artifacts

### Cache
**/.artifacts/cache/
**/.docker/cache/

### Data
**/.artifacts/data/
**/.docker/data/

### Logs
**/.artifacts/logs/
**/.docker/logs/

*.log
*.log.*

# Config
**/config.*
**/*.config.*

**/*.env
**/*.env.*

### Exceptions
!**/default.config.*
!**/*.env.example
!**/*.config.js
!**/*.config.cjs

# Development

### IDEs
**/.atom/
**/.idea/
**/.vscode/

# Languages

### Node
**/build/
**/debug/
**/dist/
**/env/
**/node_modules/

### Python
**/__pycache__/
**/venv/

*.pyc
*.pyo

### Rust
**/target/

**/Cargo.lock

*.bk
*.bk.*

# Misc

### File Extensions
**/*.bk
**/*.bk.*

**/*.csv
**/*.csv.*

**/*.db
**/*.db.*

**/*.db-*.*

**/*.lock
**/*.lock.*

**/*-lock.*

**/*.log
**/*.log.*

**/*.whl
**/*.whl.*

**/*.zip
**/*.zip.*